*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* instant form feedback */

/* password-matching */
.error {
  width: 100%;
  padding: 0;
  font-size: 90%;
  color: rgb(209, 60, 60);
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 5px 5px;
}

.error.active {
  padding: 0.3em;
  position: relative;
  top: 1px;
}

.password-match {
  color: rgb(27, 141, 27);
  background-color: #ffffff;
}
